body {
    padding-bottom: 50px;
}

.normal-img {
    max-width: 225px;
    max-height: 350px;
}

.small-img {
    max-width: 80px;
}

.img-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    justify-content: center;

}