{% extends 'base.html' %}
{% block content %}

<div class="container mb-3">
  <h2 class=" text-center">{{user.username}}</h2>
  <div class="row">
    <div class="col-md-3">
      <img src="{{user.image_url}}" alt="image not found!" class="img-thumbnail normal-img">
    </div>
    <div class="col-md-9" style="white-space: pre-wrap;">
      {%- if user.bio -%}
      {{user.bio|urlize}}
      {%- else -%}
      Add a bio!
      {%- endif -%}

    </div>
  </div>
</div>
{% if g.user.id == user.id %}
<div class="d-flex justify-content-between">
  <div>
    <a href="/">
      Edit Seiyuu Ranking
    </a>
  </div>
  <div>
    <a href="/users/edit">
      Edit Profile
    </a>
  </div>
</div>
{% endif %}

{% if favorites %}
<h3 class="mt-3">Top Favorite Seiyuu:</h3>

<div class="img-container favorites-grid">
  {% for seiyuu in favorites %}
  <figure class="figure">
    <a href="/person/{{seiyuu.id}}">
      <img src="{{seiyuu.image_url}}" class="img-thumbnail normal-img" alt="Image not found!">
    </a>
    <figcaption class="figure-caption mt-1">{{seiyuu.name}}</figcaption>
  </figure>
  {% endfor %}
</div>


{% endif %}

{% endblock %}