{% extends 'base.html' %}
{% block content %}

<div class="container mb-3">
  <h2 class=" text-center">{{user.username}}</h2>
  <div class="row">
    <div class="col-md-3">
      <img src="{{g.user.image_url}}" alt="image not found!" class="img-thumbnail normal-img">
    </div>
    <div class="col-md-9" style="white-space: pre-wrap;">
      {%- if user.bio -%}
      {{user.bio|urlize}}
      {%- else -%}
      Add a bio!
      {%- endif -%}
    </div>
  </div>
</div>
{% if g.user.id == user.id %}
<a href="/users/edit">
  Edit Profile
</a>
{% endif %}
{% endblock %}