{% extends 'base.html' %}
{% block content %}

<h2>Here's a random top seasonal anime to get started:</h2>
<div class="mb-3 text-center">
  <small>Refresh to get another seasonal anime!</small>
</div>
<div class="my-3">
  <a href="/anime/{{anime_info.id}}" class="link-light">
    <h2 class=" text-center">{{anime_info.title}}</h2>
  </a>
  <div class="row">
    <div class="col-md-3">
      <a href="/anime/{{anime_info.id}}">
        <img src="{{anime_info.image_url}}" alt="image not found!">
      </a>
    </div>
    <div class="col-md-9" style="white-space: pre-wrap;">
      {{anime_info.synopsis}}
      <b>Rating: </b>{{anime_info.rating}} {{anime_info.type}}
      <b>Genres</b>:
      {%- for genre in anime_info.genres -%}
      {{" " + genre}}
      {%- endfor -%}
    </div>
  </div>
</div>

<h4>Here are the main characters!</h4>
{% for info in charas_info %}
<div class="container mb-3">
  <div class="row">
    <div class="col">
      {% if info.seiyuu_id %}
      <a href="/person/{{info.seiyuu_id}}">
        <img class="img-thumbnail normal-img" src="{{info.seiyuu_image_url}}" alt="image not found!">
      </a>
      {% else %}
      <img class="img-thumbnail normal-img" src="{{info.seiyuu_image_url}}" alt="image not found!">
      {% endif %}
    </div>
    <div class="col align-self-center text-center">
      {{info.seiyuu_name}} as {{info.chara_name}}
    </div>
    <div class="col text-right">
      <img class="img-thumbnail normal-img" src="{{info.chara_image_url}}" alt="image not found!">
    </div>
  </div>
</div>
{% endfor %}
<h2>All Seasonals</h2>
<div class="img-container">
  {% for anime in all_seasonals %}
  <a href="/anime/{{anime.id}}">
    <img class="small-img rounded" src="{{anime.image_url}}" alt="image not found!">
  </a>
  {% endfor %}
</div>
{% endblock %}